body {
    background-color: #FFFFCC;
}

#header {
    text-align: center;
}

h1 {
    text-decoration: underline;
}

.text-header li:hover button {
    background-color: #051d5c;
    color: #fff;
}

.text-header li {
    list-style: none;
    display: inline-block;
    padding: 0 5px;
}

.text-header {
    padding-top: 25px;
}

.text-header li button {
    text-decoration: none;
    padding: 10px 20px;
    background-color: rgb(255, 185, 115);
    color: #000;
    font-size: 25px;
    border-radius: 15px;
    border: #000 1px solid;
    cursor: pointer;
}

.body2 {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #FFFFCC;
    align-items: center;
    justify-content: center;
    display: none;
}

.open {
    display: flex;
}

.text-content {
    width: 285px;
    height: 150px;
}

.close-btn {
    float: right;
}